body {
   /*font: 300 125%/1em "Helvetica Neue", "Arial", sans-serif;*/
   font-family: "Raleway", serif;
}
header, article, footer {
   width: 23em;
   margin: auto;
   padding-left: 0.6em;
   padding-right: 0.6em;
}
footer {
}

/* Table styles */
.table {
   display: table;
   width: 100%;
}
.tr {
   display: table-row;
}
.td {
   display: table-cell;
   width: 100px; 
}

/* Current styles */
.curr_wrapper {
}
.curr_top, .curr_mid {
   display: table;
   margin: 0 auto;
   padding-top: 0.6em;
}
.curr_left {
   float:left;
}
.curr_right {
   float:left;
}
.curr_temp {
   font-size: 4em;
   height: 100px;
   line-height: 100px;
   padding-left: 0.1em;
}
.curr_mid {
   text-align: center;
   font-size: 1.6em;
   padding-bottom: 1em;
}
.detail_left {
   text-align: left;
}
.detail_mid {
   text-align: center;
}
.detail_right {
   text-align: right;
}

/* Hour styles */
.hour_wrapper {
   border-top: 1px solid #777;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
.hour_time, .hour_temp, .hour_rain, .hour_wind, .hour_detail {
   vertical-align: top;
}
.hour_time {
   width: 20%;
}
.hour_icon {
   width: 20%;
}
.hour_temp {
   font-size: 2.4em;
}

/* Day styles */
.day {
}
.day_temp {
   font-size: 2em;
}

/* Pass/Fail styles */
.pass {
   background-color: #D6FFD6;
}

.fail {
   /*background-color: #FFD6D6;*/
}

/* Clear styles */
.clear {
   clear: both;
}
.current_to_hour_space {
   height: 2em;
}


