<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="user-scalable = yes">

   <title>ShouldAlexRun</title>

   <!-- CSS -->
    <link href="css/index.css" rel="stylesheet">
</head>

<body onload="LoadSkyCon()">
   <header>
   <h2>Should Alex go for a run? {% if CurrentData.status == False %}<span style="color:red">{{ CurrentData.msg }}{% else %}<span style="color:green">{{ CurrentData.msg }}</span>{% endif %}</h2>
   </header>

   <article>
   <div class="curr_top">
      <div class="curr_left">
         <canvas id="curr" class="{{ CurrentData.icon }}" width="100" height="100"></canvas>
      </div>
      <div class="curr_right">
         <div class="curr_temp">{{ CurrentData.temperature }}&deg;</div>
      </div>
   </div>

   <div class="clear"></div>

   <div class="curr_mid">{{ CurrentData.summary }}</div>

   <div class="curr_table">
      <div class="tr">
         <div class="curr_td detail_left">Rain: {{ CurrentData.precip_prob }}%</div>
         <div class="curr_td detail_mid">Wind: {{ CurrentData.wind_speed }} mph</div>
         <div class="curr_td detail_right">Cloud: {{ CurrentData.cloud_cover }}%</div>
      </div>
   </div>
   </article>

   <article>
<!--
   <div class="curr_table">
      <div class="tr">
         <div class="curr_td curr_detail_left">Rain:</div>
         <div class="curr_td curr_detail_left" style="width=100%">{{ CurrentData.precip_prob }}%</div>
         <div class="curr_td curr_detail_right">Cloud:</div>
         <div class="curr_td curr_detail_right">{{ CurrentData.cloud_cover }}%</div>
      </div>
      <div class="tr">
         <div class="curr_td curr_detail_left">Wind:</div>
         <div class="curr_td curr_detail_left">{{ CurrentData.wind_speed ~ " mph " ~ CurrentData.wind_bearing }}</div>
         <div class="curr_td curr_detail_right">Humid:</div>
         <div class="curr_td curr_detail_right">{{ CurrentData.humidity }}%</div>
      </div>
   </div>
   -->

   <div class="clear current_to_hour_space"></div>

   <!--
   <div id="aaaa">
   <div class="table">
      <div class="curr_tr">
      {% for hour in HourlyData %}
      <div class="td1">
         <div class="curr_tr">{{ hour.time }}</div>
         <div class="curr_tr">
            <canvas id="hour{{ loop.index }}" class="{{ hour.icon }}" width="50" height="50"></canvas>
         </div>
         <div class="curr_tr">{{ hour.temperature }}&deg;</div>
         <div class="curr_tr ">{% if hour.precip_prob > 0 %}{{ hour.precip_prob }}%{% endif %}</div>
      </div>
      {% endfor %}
      </div>
   </div>
   </div>

   <div class="table">
      {% for hour in HourlyData %}
      <div class="tr">
         <div class="td hour_time">{{ hour.time }}</div>
         <div class="td">
            <canvas id="hour{{ loop.index }}" class="{{ hour.icon }}" width="50" height="50"></canvas>
         </div>
         <div class="td hour_temp">{{ hour.temperature }}&deg;</div>
         <div class="td hour_rain">{% if hour.precip_prob > 0 %}{{ hour.precip_prob }}%{% endif %}</div>
         <div class="td hour_summary">{% if hour.status == False %}<span style="color:red">{{ hour.msg }}{% else %}<span style="color:green">{{ hour.msg }}</span>{% endif %}</div>
      </div>
      {% endfor %}
   </div>
   -->
   <div class="table">
      <div class="tr hour_header">
         <div class="td"></div>
         <div class="td"></div>
         <div class="td">Temp</div>
         <div class="td">Rain</div>
         <div class="td">Wind</div>
         <div class="td">Run?</div>
      </div>
      {% for hour in HourlyData %}
      <div class="tr">
         <div class="td">{{ hour.time }}</div>
         <div class="td">
            <canvas id="hour{{ loop.index }}" class="{{ hour.icon }}" width="50" height="50"></canvas>
         </div>
         <div class="td hour_temp">{{ hour.temperature }}&deg;</div>
         <div class="td ">{{ hour.precip_prob }}%</div>
         <div class="td ">{{ hour.wind_speed }} mph</div>
         <div class="td">{% if hour.status == False %}<span style="color:red">{{ hour.msg }}{% else %}<span style="color:green">{{ hour.msg }}</span>{% endif %}</div>
      </div>
      {% endfor %}
   </div>
   </article>
<!--
   <article>
      <div id="daily">
      {% for day in DailyData %}
         <div class="day">
            <span style="font-size: 2em">{{ day.time }}</span>
            <canvas id="day{{ loop.index }}" class="{{ day.icon }}" width="40" height="40"></canvas>
            <span class="day_temp">{{ day.temp_max }}&deg;</span> {{ day.temp_min }}&deg; {{ day.precip_prob }}% {{ day.summary }}
         </div>
      {% endfor %}
      </div>

      <br>{{ CurrentData.time }}<br>
   </article>

   <footer>
   About | Contact
   </footer>
   -->

   <!-- Javascript -->
   <script src="javascript/skycons.js"></script>
   <script src="javascript/index.js"></script>
</body>
</html>

