<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable = yes">
    <meta name="author" content="Alex Le">
    <meta name="description" content="Should Alex Run">

   <title>ShouldAlexRun</title>

   <!-- CSS -->
   <link href="css/index.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">

   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>

<body onload="LoadSkyCon()">
   <nav>
   </nav>
         
   <header>
   <h2>Should Alex go for a run? {% if CurrentData.status == False %}<span style="color:red">{{ CurrentData.msg }}{% else %}<span style="color:green">{{ CurrentData.msg }}</span>{% endif %}</h2>
   </header>

   <article>
   <div class="curr_wrapper">
      <div class="table">
         <div class="tr">
            <div class="td detail_left">{{ CurrentData.time }}</div>
            <div class="td detail_right">{{ CurrentData.location }}</div>
         </div>
      </div>
      <div class="curr_top">
         <div class="curr_left">
            <canvas id="curr" class="{{ CurrentData.icon }}" width="100" height="100"></canvas>
         </div>
         <div class="curr_right">
            <div class="curr_temp">{{ CurrentData.temperature }}&deg;</div>
         </div>
      </div>

      <div class="clear"></div>

      <div class="curr_mid">{{ CurrentData.summary }}</div>

      <div class="table">
         <div class="tr">
            <div class="td detail_left">Rain: {{ CurrentData.precip_prob }}%</div>
            <div class="td detail_mid">Wind: {{ CurrentData.wind_speed }} mph</div>
            <div class="td detail_right">Cloud: {{ CurrentData.cloud_cover }}%</div>
         </div>
      </div>
   </div>
   </article>

   <div class="clear current_to_hour_space"></div>

   <article>
   <ul class="tabs">
      <li><a href="#tab1">12 Hour</a></li>
      <li><a href="#tab2">5 Day</a></li>
      <li><a href="#tab3">Menu</a></li>
   </ul>

   <div class="tab_container">
      <div id="tab1" class="tab_content">
         <!--Content-->
         <div class="table">
         {% for hour in HourlyData %}
         <div class="hour_wrapper">
            {% if hour.status == True %}
            <div class="tr pass">
            {% else %}
            <div class="tr fail">
            {% endif %}
               <div class="td hour_time">{{ hour.time }}</div>
               <div class="td hour_icon">
                  <canvas id="hour{{ loop.index }}" class="{{ hour.icon }}" width="48" height="48"></canvas>
               </div>
               <div class="td hour_temp">{{ hour.temperature }}&deg;</div>
               <div class="td hour_rain">
                  <div class="tr">Rain:</div>
                  <div class="tr">{{ hour.precip_prob }}%</div>
               </div>
               <div class="td hour_wind">
                  <div class="tr">Wind:</div>
                  <div class="tr">{{ hour.wind_speed }} mph</div>
               </div>
            </div>
         </div>
         {% endfor %}
         </div>
      </div>
      <div id="tab2" class="tab_content">
         <!--Content-->
         <div class="table">
         {% for day in DailyData %}
         <div class="hour_wrapper">
            <div class="tr">
               <div class="td hour_time">{{ day.time }}</div>
               <div class="td hour_icon">
                  <canvas id="day{{ loop.index }}" class="{{ day.icon }}" width="48" height="48"></canvas>
               </div>
               <div class="td hour_temp">{{ day.temp_max}}&deg;</div>
               <div class="td hour_temp">{{ day.temp_min}}&deg;</div>
               <div class="td hour_rain">
                  <div class="tr">Rain:</div>
                  <div class="tr">{{ day.precip_prob }}%</div>
               </div>
            </div>
         </div>
         {% endfor %}
         </div>
      </div>
      <div id="tab3" class="tab_content">
         <!--Content-->
         <p>Alex likes to run.</p>
         <p>However, he's very picky and only likes to run when the weather is optimal.</p>

         Temperature:

         Rain:

         Wind:
      </div>
   </div>
   </article>
 
   <footer>
   </footer>

   <!-- Javascript -->
   <script src="javascript/skycons.js"></script>
   <script src="javascript/index.js"></script>
   
</body>
</html>

